/*comentario en css */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:
}

a {
    color: inherit;
}

nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0%;
    top: 0%;
    padding-bottom: 30px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 30px;
}

main {
    padding-top: 100px;
    margin-bottom: 0%;
    min-height: 100vh;
    margin-bottom: 5px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0%;
    top: 0%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    color: #284CA8
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: -21px;
    font-weight: bold;
    margin-top: 30px;
}

.titulo_instalaciones_nosotros {
    color: #284CA8;
    text-align: center;
}

.titulo_tejo_nosotros {
    color: #284CA8;
    text-align: center;
    margin-bottom: 15px;
}

.titulo_tenis_nosotros {
    color: #284CA8;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.titulo_fotos_nosotros {
    color: #284CA8;
    text-align: center;
    margin-top: 15px;
}

.header {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0%;
    left: 0%;
    min-height: 102px;
    align-items: center;
    z-index: 1;
}

.logo_header {
    height: 135px;
    padding-right: 0px;
    padding-left: 5px;
    padding-top: 5px;
    width: auto;
}

.subtitulo_nosotros {
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 250;
}

#titulounico {
    font-size: 80px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: bold;
}

.colores {
    color: navajowhite;
}

.deco_img {
    border-style: solid;
}

.index_div_secundario {
    padding-bottom: 0px;
    padding-top: 10px;
    display: flex;
}

.index_div_terciario {
    /* background-color: rgb(28, 35, 103);; */
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.index_hacete_socio {
    color: #F3EE95;
    text-align: center;
    background-color: black;
    margin-top: 15px;
    margin-bottom: 160px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 5px;
}

.section_noticias {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: rgb(28, 35, 103);
    justify-content: space-evenly;
}

.index_Noticias {
    color: #F3EE95;
    text-align: center;
    background-color: #213387;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.gradiente {
    background-image: linear-gradient(90deg, rgba(40, 76, 168, 1) 41%, rgba(28, 35, 103, 1) 76%);
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}

.section_index {
    background-color: white;
    justify-content: center;
}

.texto_index {
    text-align: center;
    padding-left: 100px;
}

.titulo_objetivo {
    color: #F3EE95;
    /* font-size: 50px; */
    text-align: center;
    padding-bottom: 30px;
    padding-top: 5px;
    font-weight: 700;
    padding-left: 85px;
}

.inicio1_titulo {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.contacto_boton {
    background-color: blue;
    color: whitesmoke;
    border-radius: 20px;
    padding: -1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 150px;
    margin-bottom: 5px;
    margin-left: 75px;
}

.sin_decoracion {
    text-decoration: none;
    padding-left: 140px;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: navajowhite;
}

.sin_decoracion-hacete_socio {
    text-decoration: none;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: navajowhite;
}

.imagen-logo {
    width: 156px;
    height: 135px;
    padding-right: 0px;
    padding-left: 5px;
    padding-top: 5px;
}

.wp-fijo {
    position: fixed;
    right: 0%;
    top: 60%;
}

.noticias_index {
    font-weight: 800;
}

.fb-fijo {
    position: fixed;
    right: 2.5%;
    top: 95%;
}

.titulo_principal_nosotros {
    padding-top: 5px;
    color: #284CA8;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: bold;
    margin-top: 15px;
}

.nosotros_servicios_imagenes {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagenes_servicios {
    border-radius: 100px;
    border-style: solid;
}

.segunda_section_nosotros {
    padding-right: 0px;
    padding-left: 50px;
    margin: 20px;
    padding-bottom: 0px;
    display: flex;
    gap: 5px;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top: 0px;

}

.textos_nosotros {
    text-align: justify;
    padding-right: 15px;
    padding-top: 0px;
    font-weight: normal;
    line-height: revert;
}

.logos_instrucciones_nosotros {
    padding-right: 15px;
}

.section_contact_tenis {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.section_contact_tejo {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.titulo_principal_contactos {
    padding-top: 20px;
    color: #284CA8;
    text-align: center;
    margin-bottom: 0rem;
    font-weight: bold;
    margin-top: 15px;
}


.section_contact_inicial {
    display: flex;
    padding-left: 10px;
}

.div_contact_datos {
    width: 50%;
    margin-top: 20px;
}

.div_contact_map {
    width: 50%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 50px;
}

.section_contact_segunda {
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 30px;
}

.texto_imagenes_nosotros {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    font-size: ;
}

.texto_contacto {
    color: black;
    font-weight: bold;
    text-align: -webkit-left;
    margin-top: 0px;
    font-size: larger;
    margin-top: 20px;
    margin-left: 15px;
}

.titulo_Campeonato {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
    color: #284CA8;
    font-size: xx-large;
    font-weight: bold;
}

.home_fotos_pcipales {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0rem;
    background-color: white;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.home_fotos_down {
    padding-bottom: 0px;
    display: flex;
    gap: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top: 0px;
    justify-content: center;
}

.parrafos_noticias {
    text-align: start;
}

.ejemplo {
    text-align: center;
    margin: 20px;
}

.formulario_contacto {
    padding-bottom: 20px;
}

.carousel {
    padding-top: 54px;
    margin-left: 15px;
}

.carousel-item img {
    height: 300px;
    padding-top: 50px;
}

.carousel-dark .carousel-caption {
    color: #0dcaf0;
    font-weight: 900;

}

.carousel h5 {
    font-size: 2rem;
    font-weight: 900;
}

.card {
    width: 50%;
    background-color: black;
    color: #F3EE95;
    text-align: center;
}

.card-title {
    font-weight: 700;
}

.index_noticias {
    margin-left: 230px;
    margin-bottom: 40px;
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .index_hacete_socio {
        margin-bottom: 185px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .img_index_pcipal {
        width: 30%;
        height: 250px;
    }

    .logo_header {
        height: 75px;
        width: 75px;
    }

    .sin_decoracion {
        margin-left: 0;
        padding-left: 25px;
    }

    .foto_principal {
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    #titulounico {
        margin-top: 10px;
        font-size: 60px;
    }

    .titulo_objetivo {
        margin-top: 10px;
        padding-bottom: 10px;
        padding-left: 150px;
    }

    .texto_index {
        padding-left: 100px;

    }

    .titulo_Campeonato {
        font-size: x-large;
    }

    .wp-fijo {
        top: 60%;
    }

    .w_fijo_index {
        width: 60px;
        height: 60px;
    }

    .titulos_nosotros {
        margin-top: -25px
    }

    .fotos_instalaciones_nosotros {
        width: 100%;
    }

    .nosotros_servicios_imagenes {
        overflow: hidden;
        margin: 0%;
    }

    .imagenes_servicios {
        width: 100%;
    }

    .ejemplo {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
        margin: 0px;
    }

    .textos_nosotros {
        padding-right: 15px;
    }

    .titulo_principal_nosotros {
        margin-top: -15px;
    }

    .titulo_principal_contactos {
        padding-top: 0px;
        margin-bottom: 40px;
    }

    .section_contact_inicial {
        padding-top: 0px;
        margin-top: -20px;
    }

    .div_contact_map {
        width: 60%;
        padding-top: 15px;
        overflow: hidden;
        object-fit: cover;
        padding-top: 15px;
    }


    .div_contact_datos {
        width: 40%;
        margin-top: 20px;
        margin-top: 45px;
    }

    nav {
        justify-content: inherit;
        gap: 5px;
    }

    ul {
        margin-top: 90px;
        padding-left: 0px;
        gap: 20px;
        align-items: center;
    }

    .texto_contacto {
        font-size: large
    }

}

@media (max-width: 600px) {
    .header {
        justify-content: center;
        flex-direction: column;
    }

    .img_index_pcipal {
        width: 30%;
        height: 250px;
    }

    .logo_header {
        height: 80px;
        padding-top: 5px;
        width: auto;
    }


    #titulounico {
        margin-top: 15px;
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: 900;
    }

    .sin_decoracion {
        margin-left: 0;
        padding-left: 20px;
        margin-top: -50px;
        padding-bottom: 5px;
        font-size: 15px;
        padding-right: 0px;

    }

    nav {
        justify-content: flex-start;
        padding-bottom: 0px;
    }

    .foto_principal {
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    .index_hacete_socio {
        margin-bottom: 5px;
        padding-bottom: 10px;
        margin-top: -10px;
    }

    .texto_index {
        padding-left: 0px;
        margin-top: -20px;
    }

    .index_div_secundario {
        display: flex;
        flex-direction: column;
    }

    .titulo_objetivo {
        padding-top: 0px;
        font-weight: 700;
        padding-left: 3px;
        padding-bottom: 10px;
    }

    .titulo_Campeonato {
        font-size: large
    }


    .wp-fijo {
        top: 60%;
    }

    .w_fijo_index {
        width: 40px;
        height: 40px;
    }

    .index_noticias {
        margin-left: 0px;
        margin-bottom: 10px;
        padding-left: 90px;
        margin-top: 15px;
    }

    .card {
        margin: 10px;
    }

    .titulo_principal_nosotros {
        margin-top: -15px;
    }

    .home_fotos_down {
        justify-content: center;
        margin: 0px;
    }

    .titulos_nosotros {
        margin-top: -30px;
        margin-bottom: 0px;
        padding-bottom: 20px;
        padding-top: 5px;
    }

    .titulo_tenis_nosotros {
        margin-top: 0px;
    }

    .subtitulo_nosotros {
        margin-bottom: 3rem;
    }

    .nosotros_servicios_imagenes {
        flex-direction: column;
    }

    .segunda_section_nosotros {
        padding-right: 0px;
        padding-left: 0px;
        margin: 20px;
        justify-content: center;
        padding-bottom: 0px;
        display: flex;
        gap: 10px;
        overflow: hidden;
        flex-wrap: wrap;
        padding-top: 0px;
    }

    .section_contact_tejo {
        padding-top: 5px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        margin-top: -40px;
    }

    .section_contact_tenis {
        padding-top: 5px;
        flex-direction: column;
        align-items: center;
        margin-top: -40px;
    }

    .logos_instrucciones_nosotros {
        padding-top: 40px;
    }

    .titulo_fotos_nosotros {
        margin-top: 0px;
    }

    .titulo_principal_contactos {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .section_contact_inicial {
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        padding: 0px;
    }

    .div_contact_map {
        width: 90%;
        padding-top: 10px;
        margin-left: 15px;
        margin-top: -20px;
    }

    .div_contact_datos {
        margin-top: -45px;
    }

    ul {
        margin-left: 100px;
        gap: 0px;
    }

    .mapa_contacto {
        width: 100%;
        margin-top: -30px;
        padding-right: 10px;
    }

    .section_contact_segunda {
        padding: 0px;
        margin: 0px;
        padding-bottom: 30px;
    }

    .formulario_contacto {
        margin-left: 5px;
    }

    .area_formulario_contactos {
        width: 100%;
    }

    .texto_contacto {
        font-size: medium;
    }

    .carousel {
        margin-top: -100px;
        margin-left: 5px;
    }
}