/*comentario en css */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
}

a {
    color: inherit;
}

nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    left: 0%;
    top: 0%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    
}

main {
    padding-top: 100px;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0%;
    top: 0%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;

}

h1 {
    color: rgb(11, 35, 71)
}

.header {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo-destacado {
    color: rgb(11, 35, 71);
    text-align: center;
    margin-bottom: 2rem;
}

#titulounico {
    font-size: 50px;
    text-align: center;
    margin-bottom: 2rem;
}

.colores {
    color: navajowhite;
}

.gradiente {
    background-image: linear-gradient(90deg, rgba(40, 76, 168, 1) 41%, rgba(28, 35, 103, 1) 76%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.titulo-objetivo {
    color: rgb(248, 248, 248);
    /* font-size: 50px; */
    text-align: center;
}

.inicio1_titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.contacto_boton {
    background-color: blue;
    color: whitesmoke;
    border-radius: 20px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 150px;
}

.sin_decoracion {
    text-decoration: none;
    padding-left: 20px;
    padding-top: 30px;
}

.imagen-logo {
    width: 65px;
    height: 50px;
    padding-right: 10px;
}

.wp-fijo {
    position: fixed;
    right: 0%;
    top: 60%;
}

.fb-fijo {
    position: fixed;
    right: 2.5%;
    top: 95%;
}

.titulo_principal_main {
    padding-top: 10px;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}

.section_contact_inicial {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.div_contact_datos {
    width: 50%;
}

.div_contact_map {
    width: 50%;


}

.section_contact_segunda {
    padding-left: 10px;
}

.titulo_Campeonato {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home_fotos_pcipales {
    padding-left: 10px;
    padding-right: 10px;
}

.home_fotos_down {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
}