/*comentario en css */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:
}

a {
    color: inherit;
}

nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    left: 0%;
    top: 0%;
    padding-bottom: 30px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 30px;
}

main {
    padding-top: 100px;
    margin-bottom: 0%;
    min-height: 100vh;
    margin-bottom: 5px;
   }

footer {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 0%;
    top: 0%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -29px;
}

h1 {
    color: #284CA8
}

.titulos_nosotros {
    color: white
}

.texto_nosotros {
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;
}

.header {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtitulo_nosotros {
    color: #284CA8;
    text-align: center;
    margin-bottom: 2rem;
}

#titulounico {
    font-size: 70px;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.colores {
    color: navajowhite;
}

.index_div_secundario {
    background-color: rgb(28, 35, 103);
    padding-bottom: 10px;
    padding-top: 10px;
}

.gradiente {
    background-image: linear-gradient(90deg, rgba(40, 76, 168, 1) 41%, rgba(28, 35, 103, 1) 76%);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.section_index {
    background-color: white;
    justify-content: center;
}

.texto_index {
    text-align:center;
}

.titulo_objetivo {
    color: #F3EE95;
    /* font-size: 50px; */
    text-align: center;
}

.inicio1_titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

.contacto_boton {
    background-color: blue;
    color: whitesmoke;
    border-radius: 20px;
    padding: -1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 150px;
    margin-bottom: 5px;
    margin-left: 75px;
}

.sin_decoracion {
    text-decoration: none;
    padding-left: 140px;
    padding-top: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: navajowhite;
}

.imagen-logo {
    width: 156px;
    height: 116px;
    padding-right: 0px;
    padding-left: 5px;
    padding-top: 5px;
}

.wp-fijo {
    position: fixed;
    right: 0%;
    top: 60%;
}

.fb-fijo {
    position: fixed;
    right: 2.5%;
    top: 95%;
}

.titulo_principal_main {
    padding-top: 5px;
    color: #284CA8;
    text-align: center;
    margin-bottom: 2rem;
}

.segunda_section_nosotros {
margin-bottom: 10px;
}

.section_contact_inicial {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.div_contact_datos {
    width: 50%;
}

.div_contact_map {
    width: 50%;
}

.section_contact_segunda {
    padding-left: 10px;
    font-weight: bold;
}

.titulo_Campeonato {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #F3EE95;
}

.home_fotos_pcipales {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2rem;
    background-color: white;
    justify-content: space-between;
    padding-bottom: 20px;
    display: inline-flex;
    flex-direction: row;
}

.home_fotos_down {
    padding-left: 0px;
    padding-right: 0px;
    display: inline-flex;
}

@media (max-widht: 1023px) {}

@media (max-widht:600px) {}